{% extends "base.html" %}

{% load staticfiles %}
{% block breadcrumbs %}
{{ block.super }}
<!-- Divider -->
          <span class="divider">/</span> 
<a href="" class="active"><i class="bread-current"></i>busqueda</a> 
{% endblock %}

{% block contenido %}


<body>

  <div class="widget">

    <div class="widget-head">
      <div class="pull-left">Lista de Spots</div>
      
      <form action="/reporte_general_pdf/" method="POST"> {% csrf_token %}
        <div class="pull-right">
          <label for="">Fecha Inicial: <input type="text" name="f_inicial" value="{{fecha_1}}" id="datepicker"></label>
          <label for="">Fecha Final: <input type="text" name="f_final" value="{{fecha_2}}" id="datepickers"></label>
          

          <label for="">Spot o Usuario: <input type="text" name="buscar" value="{{buscar}}"></label>

          <button class="btn btn-xs btn-danger"><i class="label label-danger"></i>Generar PDF</button>
          
        </div>
      </form>

      <div class="clearfix"></div>
    </div>

    <div class="widget-content">

      <table id="datatable" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>

            <th>Nombre del spot</th>
            <th>Fecha de Orden</th>
            <th>Servicios</th>
            <th>Usuario</th>
            
          </tr>
        </thead>

        {% for usuario in consulta %}

        <tr>

          <td>{{ usuario.nombre }}</td>
          <td> {{usuario.fecha_orden}}</td>
          <td>{{usuario.numero_orden}}</td>
          <td>{{usuario.usuario}}</td>
          <td>
        <button class="btn btn-xs btn-success" onclick=location.href="{% url 'detalle_spot' usuario.id %}"><i class="label label-success"></i>Detalles</button>
      </td>

        </tr>
        {% endfor %}

      </table>




      <br>

        



    </div>

  </div>

  <div class="widget">
    <div class="widget-content">

     <table id="datatable" class="table table-striped table-bordered table-hover">
      <thead>
        <tr>

          <th>Nombre</th>
          <th>Fecha Modificación</th>
          <th>Usuario</th>

        </tr>
      </thead>

      {% for usuario in historia %}

      <tr>

        <td>{{ usuario.servicio }}</td>
        <td> {{usuario.fecha_cambio}}</td>
        <td> {{usuario.servicio.usuario}}</td>

      </tr>
      {% endfor %}

    </table>
  </div>

</div>


<div>
  <button class="btn btn-xs btn-danger" onclick=location.href="{% url 'inicio' %}" type="submit"><i class="label label-danger"></i>Atras</button>
</div>

{% endblock contenido %}