{% for field in form %}
    {% if not field.is_hidden %}
        <div class="pull-left"></div>
        <label for="{{ field.auto_id }}">
            {{ field.label }}
            {% if field.field.required %}
                <b style="color: #d9534f;">*</b>
            {% endif %}
        </label>


        {% for error in field.errors %}
            <span style="color: #d9534f;">{{ error }}</span>
        {% endfor %}


        <div class="form-group">
            {{ field }}
        </div>
        <div class="help_text">
        <span class="muted">
            {{ field.help_text }}
        </span>
        </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}